
/* For First Section */

::selection
{
    background-color:darksalmon;
}


#home span
{
    color:crimson;
    
}

#home
{
   background-color:beige;
   background-image: url("Images/shirt-2-removebg-preview.png");
   background-repeat:no-repeat; 
   background-position:top right;
   width: 100%;
   height:570px;
   background-size:600px 570px;
   display: flex;
   flex-direction: column;
   justify-content:center;
   align-items: flex-start;

}


#button-1
{
    font-size: 1rem;
    font-weight: 700;
    outline: none;
    border:none;
    background-color: black;
    color:aliceblue;
    padding:13px 30px;
    cursor:pointer;
    text-transform: uppercase;
    transition:0.3s ease;
}

#button-1:hover
{
    background-color: #3a3833;
}


/* For Third Section */

#new .myclass-1 img
{
    width:100%;
    height:600px;
    background-position:center center;
    background-repeat: no-repeat;
    background-size: cover;
    position:relative;
}


#new  .myclass-1  .details
{
    position:absolute;
    top:1910px;
    bottom:180px;
    transition: 0.3s ease;
}

/* #new  .myclass-1:hover  .details
{
     cursor:pointer;
     background-color: rgba(245,178,178,0.7);
} */

/* .myclass-1
{
    cursor:pointer;
    margin-bottom: 2rem;
} */

.myclass-1 img
{
  transition: 0.3s all;
}

.myclass-1:hover img
{
  opacity:0.7;
}

/* For Fourth Section */

.product
{
    cursor:pointer;
    margin-bottom: 2rem;
}

.product img
{
  transition: 0.3s all;
}

.product:hover img
{
  opacity:0.7;
}

.product .buy-btn
{
    background:crimson;
    color:whitesmoke;
    border-radius: 10px;
    border-color: whitesmoke;
    font-size:1.6rem;
    font-weight: bold;
    margin-top:10px;
    transform: translateY(20px);
    opacity: 0;
    transition: 0.3s all;
}

.product:hover .buy-btn
{
    transform: translateY(0);
    opacity:1;
}



/*For Add to cart button */
.product .add-btn
{
    background:crimson;
    color:whitesmoke;
    border-radius: 10px;
    border-color: whitesmoke;
    font-size:1.6rem;
    font-weight: bold;
    margin-top:10px;
    transform: translateY(20px);
    opacity: 0;
    transition: 0.3s all;
}

.product:hover .add-btn
{
    transform: translateY(0);
    opacity:1;
}


/* For view all Button */

/*For view all button */
.view-btn
{
    background:crimson;
    color:whitesmoke;
    border-radius: 10px;
    border-color: whitesmoke;
    font-size:1.6rem;
    font-weight: bold;
    margin-top:10px;
    transform: translateY(20px);
    opacity: 0;
    transition: 0.3s all;
}

:hover .view-btn
{
    transform: translateY(0);
    opacity:1;
}

/* For Fifth-section */

#button-2
{
    font-size: 1rem;
    font-weight: 700;
    outline: none;
    border:none;
    background-color: black;
    color:aliceblue;
    padding:13px 30px;
    cursor:pointer;
    text-transform: uppercase;
    transition:0.3s ease;
}

#button-2:hover
{
    background-color: #3a3833;
}


#banner
{
    background-color:beige;
    background-image: url("Images/Model-1.jpg");
    background-position:top 70px right;
    width: 100%;
    height:90vh;
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment: fixed; 
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: flex-start;

}

#hr
{
    width:40px;
    height:8px;
    background-color:darkcyan!important;
} 

/* For Sixth Section */
#hr-1
{
    width:40px;
    height:8px;
    background-color:lightcoral;
} 

/* For Seventh Section */
#hr-2
{
    width:40px;
    height:8px;
    background-color:navy;
} 



